<a class="btn klaviyo-bis-trigger" href="#" style="display: none;">NOTIFY WHEN IN STOCK</a>

<style>
  a.btn.klaviyo-bis-trigger {
    color: #fff;
    background-color: #53391d;
    font-family: Montserrat, HelveticaNeue, 'Helvetica Neue', sans-serif;
    font-size: inherit;
    display: flex;
    justify-content: center;
    margin: 10px 0 15px 0;
  }

  a.btn.klaviyo-bis-trigger:hover {
    color: #fff;
    background-color: #000000;
    transition: all ease 0.25s;
  }
</style>

<!-- Klaviyo Back in Stock Start -->
{% include 'klaviyo-bis-trigger' %}
<!-- Klaviyo Back in Stock Start -->
