/* Additional css for the theme added by Kimson Pomento */


/* CSS for HOMEPAGE - Start */

/* CSS for Header Search bar - Start */

input.search-header__input.search__input {
    border: 1px solid #000000 !important;
    border-radius: 20px;
    color: #000000 !important;
    padding-left: 20px !important;
}

/* CSS for Header Search bar - End */

/* CSS for Slideshow Section */

span {
    color: #CC4800;
} /* added from section custom css */

#shopify-section-template--19768630739257__16289212707c98911d .page-width {
    padding: 0;
} /* added from theme.css file */



/* CSS for first Image With Text - Start */


#shopify-section-template--19768630739257__056bb9d4-c0e0-4bda-aad2-61c697ffde60 {
    padding: 10px 0;
} /* added from theme.css file */

#shopify-section-template--19768630739257__056bb9d4-c0e0-4bda-aad2-61c697ffde60 .page-width {
    max-width: 1980px!important;
} /* added from theme.css file */

@media (min-width: 768px) {
    #shopify-section-template--19768630739257__056bb9d4-c0e0-4bda-aad2-61c697ffde60 .row {
        margin-left: -30px!important;
        margin-right: -10px!important;
    }
} /* added yet */


#shopify-section-template--19768630739257__056bb9d4-c0e0-4bda-aad2-61c697ffde60 .information-container .heading {
    font-size: 40px !important;
    font-weight: 800 !important;
} /* added from theme.css file */


/* mobile css */

@media (max-width: 400px) {
    #shopify-section-template--19768630739257__056bb9d4-c0e0-4bda-aad2-61c697ffde60 .information-container .heading {
        font-size: 27px !important;
        font-weight: 800 !important;
        text-align: center;
    }
} /* added from theme.css file */

.rte p {
    font-size: 30px!important;
} /* added from section custom css */

p {
    line-height: 42px !important;
} /* added from section custom css */

/* CSS for first Image With Text - End */


/* CSS for second Image With Text - Start */

#shopify-section-template--19768630739257__b913c334-3100-48a8-9ae2-a2828df8c545 {
    padding: 10px 0;
} /* added from theme.css file */

#shopify-section-template--19768630739257__b913c334-3100-48a8-9ae2-a2828df8c545 .page-width {
    max-width: 1980px!important;
} /* added from theme.css file */

@media (min-width: 768px) {
    #shopify-section-template--19768630739257__b913c334-3100-48a8-9ae2-a2828df8c545 .row {
        margin-left: -30px!important;
        margin-right: -10px!important;
    }
} /* added yet */

#shopify-section-template--19768630739257__b913c334-3100-48a8-9ae2-a2828df8c545 .information-container .heading {
    font-size: 40px !important;
    font-weight: 800 !important;
} /* added from theme.css file */


@media (max-width: 400px) {
    #shopify-section-template--19768630739257__b913c334-3100-48a8-9ae2-a2828df8c545 .information-container .heading {
        font-size: 27px !important;
        font-weight: 800 !important;
        text-align: center;
    }
} /* added from theme.css file */


.rte p {
    font-size: 30px!important;
} /* added from section custom css */

p {
    line-height: 42px !important;
} /* added from section custom css */

/* CSS for second Image With Text - End*/


/* CSS for Featured Collection - Start */

h2 {
    font-weight: 600 !important;
}

.collection {
    max-width: 100%!important;
    margin: 0 !important;
} /* added from section custom css */

@media screen and (min-width: 992px) {
    .rich-text__blocks {
      max-width: 83rem; /* original 78rem */
    }
  } /* added from base.css file */

@media only screen and (min-width: 768px) {
    .h1 {
        font-size: 39px !important;
        font-weight: 800 !important;
    }
  } /* added from base.css file */

@media only screen and (max-width: 767px) {
    .h1 {
        font-size: 19px !important;
        font-weight: 800 !important;
    }
  } /* added from base css file */

  .card-information .card-information__text {
    font-weight: 600;
    line-height: 25px;
    font-size: 19px;
    padding: 0 10px !important;
  } 

@media (max-width: 543px) {
    .card-information .card-information__text {
        line-height: 19px !important;
        padding: 0 10px !important;
        font-weight: 600 !important;
        font-size: 12px !important;
    }  
}  

.card-wrapper {
    border: 1px solid #000;
}

.card-information {
    border-bottom: 1px solid #000;
}

/* CSS for Featured Collection - End */  


/* CSS for Judge Me App Section - Start */  

.jdgm-carousel-title-and-link {
    margin-top: -33px;
    font-size: 20px !important;
}

.jdgm-carousel-title {
    display: none !important;
}

/* CSS for Judge Me App Section - End */  


/* CSS for HOMEPAGE - END */

/* CSS for COLLECTION PAGE - Start */

#SortBy {
    background-color: #CC4800 !important;
    font-size: 20px !important;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff !important;
} /* added from section custom css */

svg.icon.icon-caret {
    color: #ffffff;
  } /* added from section custom css */

h2.facets__heading.sidebar-title {
    background-color: #CC4800;
    color: #fff !important;
    font-size: 20px !important;
    font-weight: 800;
} /* added from section custom css */

.facets__disclosure {
    border: 1px solid #000 !important;
} /* added from section custom css */

.card-wrapper {
    border: 1px solid #000;
} /* added from section custom css */

.card-information {
    border-bottom: 1px solid #000;
} /* added from section custom css */

.card-information-bottom {
    text-align: center;
} /* added from section custom css */

.thumbnail-buttons .btn-info {
    margin: 20px 3px !important;
} /* added from section custom css */

s.price-item.price-item--regular {
    font-weight: 800;
} /* added from section custom css */

span.price-item.price-item--sale {
    font-weight: 800;
} /* added from section custom css */

span.price-item.price-item--regular {
    font-weight: 800;
} /* added from section custom css */

.price {
    display: block !important;
} /* added from section custom css */

.collection-title {
    text-align: center !important;
    font-weight: 800 !important;
} /* added from section custom css */

.col-lg-3.col-md-12.col-sm-12.col-xs-12.normal-sidebar.sidebar_content {
    display: none;
} /* added from theme.css liquid file */

.col-lg-9 {
    width: 100%;
} /* Modify thru base.css liquid file I added ccs comment tag as well */

/* CSS for COLLECTION PAGE - END */

/* CSS for PRODUCT PAGE - START */

.collection {
    max-width: 100%!important;
    margin: 0 !important;
    padding: 0 !important;
} /* added from section custom css */

