/* Additional css for the theme added by Kimson Pomento */

/* CSS for Slideshow Section */

span {
    color: #CC4800;
} /* added from section custom css */

#shopify-section-template--19768630739257__16289212707c98911d .page-width {
    padding: 0;
} /* added from theme css file */



/* CSS for first Image With Text - Start */


#shopify-section-template--19768630739257__056bb9d4-c0e0-4bda-aad2-61c697ffde60 {
    padding: 10px 0;
} /* added from theme css file */

#shopify-section-template--19768630739257__056bb9d4-c0e0-4bda-aad2-61c697ffde60 .page-width {
    max-width: 1980px!important;
} /* added from theme css file */

@media (min-width: 768px) {
    #shopify-section-template--19768630739257__056bb9d4-c0e0-4bda-aad2-61c697ffde60 .row {
        margin-left: -30px!important;
        margin-right: -10px!important;
    }
} /* added yet */


#shopify-section-template--19768630739257__056bb9d4-c0e0-4bda-aad2-61c697ffde60 .information-container .heading {
    font-size: 40px !important;
    font-weight: 800 !important;
} /* added from theme css file */


/* mobile css */

@media (max-width: 400px) {
    #shopify-section-template--19768630739257__056bb9d4-c0e0-4bda-aad2-61c697ffde60 .information-container .heading {
        font-size: 27px !important;
        font-weight: 800 !important;
        text-align: center;
    }
} /* added from theme css file */

.rte p {
    font-size: 30px!important;
} /* added from section custom css */

p {
    line-height: 42px !important;
} /* added from section custom css */

/* CSS for first Image With Text - End */


/* CSS for second Image With Text - Start */

#shopify-section-template--19768630739257__b913c334-3100-48a8-9ae2-a2828df8c545 {
    padding: 10px 0;
} /* added from theme css file */

#shopify-section-template--19768630739257__b913c334-3100-48a8-9ae2-a2828df8c545 .page-width {
    max-width: 1980px!important;
} /* added from theme css file */

@media (min-width: 768px) {
    #shopify-section-template--19768630739257__b913c334-3100-48a8-9ae2-a2828df8c545 .row {
        margin-left: -30px!important;
        margin-right: -10px!important;
    }
} /* added yet */


@media (max-width: 400px) {
    #shopify-section-template--19768630739257__b913c334-3100-48a8-9ae2-a2828df8c545 .information-container .heading {
        font-size: 27px !important;
        font-weight: 800 !important;
        text-align: center;
    }
} /* added from theme css file */


.rte p {
    font-size: 30px!important;
} /* added from section custom css */

p {
    line-height: 42px !important;
} /* added from section custom css */

/* CSS for second Image With Text - End*/


/* CSS for Featured Collection */

.collection {
    max-width: 100%!important;
    margin: 0 50px!important;
} /* added from section custom css */

@media screen and (min-width: 992px) {
    .rich-text__blocks {
      max-width: 83rem; /* original 78rem */
    }
  } /* added from base css file */

@media only screen and (min-width: 768px) {
    .h1 {
        font-size: 39px !important;
        font-weight: 800 !important;
    }
  } /* added from base css file */

@media only screen and (max-width: 767px) {
    .h1 {
        font-size: 19px !important;
        font-weight: 800 !important;
    }
  } /* added from base css file */